/* 
    Document   : caspian
    Author     : puce
    Description:
        Purpose of the stylesheet follows.
*/

/**************************************************************************************************
 *                                                                                                *
 * LocalDateField                                                                                 *
 *                                                                                                *
 **************************************************************************************************/

.dockable-pane { 
    -fx-skin: "org.javafxplatform.core.docking.skin.DockablePaneSkin";
}
