/* 
    Document   : caspian
    Author     : puce
    Description:
        Purpose of the stylesheet follows.
*/

/**************************************************************************************************
 *                                                                                                *
 * DockablePane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.dockable-pane { 
    -fx-skin: "org.javafxplatform.core.docking.skin.DockablePaneSkin";
}

/**************************************************************************************************
 *                                                                                                *
 * DockingPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-pane { 
    -fx-skin: "org.javafxplatform.core.docking.skin.DockingPaneSkin";
}

/**************************************************************************************************
 *                                                                                                *
 * DockingSplitPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-split-pane { 
    -fx-skin: "org.javafxplatform.core.docking.skin.DockingSplitPaneSkin";
}

/**************************************************************************************************
 *                                                                                                *
 * DockingAreaPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-area-pane { 
    -fx-skin: "org.javafxplatform.core.docking.skin.DockingAreaPaneSkin";
}



