/* 
    Document   : caspian
    Author     : puce
    Description:
        Purpose of the stylesheet follows.
*/

/**************************************************************************************************
 *                                                                                                *
 * DockablePane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.dockable-pane { 
    -fx-skin: "org.drombler.fx.core.docking.impl.skin.DockablePaneSkin";
}

/**************************************************************************************************
 *                                                                                                *
 * DockingPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-pane { 
    -fx-skin: "org.drombler.fx.core.docking.impl.skin.DockingPaneSkin";
}

/**************************************************************************************************
 *                                                                                                *
 * DockingSplitPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-split-pane { 
    -fx-skin: "org.drombler.fx.core.docking.impl.skin.DockingSplitPaneSkin";
}

/*.docking-split-pane .split-pane {
    -fx-background-color: -fx-box-border, green;
}*/

/**************************************************************************************************
 *                                                                                                *
 * DockingAreaPane                                                                              *
 *                                                                                                *
 **************************************************************************************************/

.docking-area-pane { 
    -fx-skin: "org.drombler.fx.core.docking.impl.skin.DockingAreaPaneSkin";
}
/*.docking-area-pane .tab-content-area {
    -fx-background-color: blue;
}*/
/*.docking-area-pane .tab-pane {
    -fx-background-color: yellow;
}*/
